<% include header%>
<% include left%>
<div id="main">
    <div id="main-content">
        <p>商品信息管理</p>
        <button>添加商品</button><br><br>
        <table>
            <thead>
                <td>序号</td>
            </thead>
        </table>
    </div>
</div>
<% include footer%>