<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/ajax.js"></script>
</head>
<body>


