<%- include header%>
<form method="post">
    条形码：<input type="text" name="barcode"/><br/>
    商品名称：<input type="text" name="name"/><br/>
    单位：<input type="text" name="unit"/><br/>
    单价：<input type="text" name="price"/>
    <input type="submit" value="添加"/>
</form>
<%- include footer%>